{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Shop{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    </head>

    <body>
        <div id="header">
            <a href="/" class="logo">Shop</a>
        </div>
        <div id="subheader">
            <div class="Cart"></div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>

</html>