{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Shop{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    </head>

    <body>
        <div id="header">
            <a href="/" class="logo">Shop</a>
        </div>
        <div id="subheader">
            <div class="Cart">
                {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                Cart:
                <a href="{% url 'cart:cart_detail' %}">
                    {{ total_items }} product{{ total_items|pluralize:"s" }},
                    {{ cart.get_total_price }} zł
                </a>
                {% else %}
                Cart is empty.
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>

</html>