{% extends "products/base.html" %}
{% block title %}
Checking the shopping list
{% endblock %}
{% block content %}
<h1>Checking the shopping list</h1>
<div class="order-info">
    Name: {{ name }} {{ order.surname }}{{json}} <br>
    Email: {{ order.email }} <br>
    Address:{{ order.address }} {{ order.postal_code }}<br>
    <h3>Order</h3>
    <ul>
        {% for item in cart %}
        {%if item.quantity_available > 0%}
        <li>
            {{ item.quantity }}x {{ item.product.name }}
            <span>{{ item.total_price }} zł</span>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <p>Total: {{ cart.get_total_price }} zł</p>
</div>
<form action="{% url 'orders:request_to_payment_gateway' %}" method="post" class="button">
    <p><input type="submit" value="Pay"></p>
    {% csrf_token %}
</form>
{% endblock %}