@import url(//fonts.googleapis.com/css?family=Ubuntu);

body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
    background-color: rgb(235, 229, 229);
    color: #222;
}

a {
    text-decoration: none;
    color: #222;
}

a:hover {
    color: rgb(190, 111, 117);
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table th,
table td {
    text-align: left;
    font-size: 14px;
    padding: 10px;
    margin: 0;
}

tbody tr:nth-child(odd) {
    background: #a8a8a8;
}

tbody tr:nth-child(2) {
    background: #d4d4d4;
}

tbody tr.subtotal {
    background: #ccc;
}

thead th,
tbody tr.total {
    background: #606263;
    color: #fff;
    font-weight: bold;
}

tbody tr.buy {

    background: #85867c;
    color: #fff;
    font-weight: bold;
}

table.cart {
    margin-bottom: 40px;
}

table.cart img {
    width: 180px;
}

tbody td.num {
    text-align: left;
}

td input[type="submit"] {
    font-size: 12px;
    padding: 4px 10px;
}

form p label,
form p input {
    float: left;
    clear: both;
}

form p label {
    font-size: 14px;
    padding-bottom: 4px;
}

form p input {
    width: 300px;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 10px 12px;
    border: 0;
    background: #efefef;
    color: #666;
    border-radius: 4px;
}

#header {
    padding: 25px 100px 30px;
    font-size: 18px;
    overflow: auto;
}

#header .logo {
    font-family: 'Ubuntu', sans-serif;
    float: left;
    color: #222;
    font-size: 30px;
    font-weight: bold;
    margin-left: 6%;
    cursor: pointer;
}

#header .logo:hover {
    color: rgb(190, 111, 117);
}

#header .cart {
    float: right;
    padding-right: 40px;
    padding-bottom: 20px;
}

#content {
    padding: 0px 100px;
    overflow: hidden;
}

#sidebar {
    float: left;
    width: 220px;
    padding: 30px 20px 0 0;
}

#sidebar h3 {
    text-align: center;
}

#sidebar ul {
    margin: 0;
    padding: 0;
}


#sidebar ul li {
    margin: 0;
    padding-bottom: 7px;
    list-style: none;
}

#sidebar ul li a {
    display: block;
    padding-left: 15px;
    padding-top: 10px;
}

#sidebar ul li.selected a {
    color: #fff;
    cursor: pointer;
}

#sidebar ul li.selected a:hover {
    color: #ecdbdb;
}


#sidebar ul li.selected {
    background: #5993bb;
    border-radius: 4px;
}

#sidebar #sub {
    padding-left: 15px;
    padding-bottom: 3px;

}


#main {
    float: left;
    width: 96%;
    margin-right: -220px;
    overflow: hidden;
}

.product-list .item {
    width: 27%;
    height: 300px;
    padding: 10px 20px 10px 10px;
    margin: 5px;
    float: left;
    text-align: center;
    line-height: 1.2;
}

.product-list .item img {
    width: 100%;
    height: 240px;
    margin-bottom: 8px;
}

.product-list h1 {
    padding-right: 200px;
    text-align: center;
}

.product-detail {
    padding: 0;
    margin: 0;
    text-align: justify;
}

.product-detail img {
    float: left;
    margin-right: 150px;
    padding-top: 70px;
}

.product-detail h1 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.product-detail h2 {
    text-align: center;
    padding-bottom: 20px;
    cursor: pointer;
}

.product-detail .price {
    text-align: right;
    font-size: 22px;
    padding-bottom: 50px;
    font-weight: bold;
}

.cart h4 {
    color: brown;
}

.text-right {
    text-align: right;

}