{% extends "products/base.html" %}
{% load static %}

{% block title %}
{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
<div id="sidebar">
    <h3>Categories</h3>
    <ul>
        <li> <a href="/">All</a></li>
        {% for c in categories %}
        <li {% if category and category.id == c.id or category in c.get_descendants %}class="selected" {% endif %}>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>

            {% if category and category.id == c.id or category in c.get_descendants %}
            <ul>
                {% for subcategory in c.subcategories.all %}
                <li {% if category and category.id == subcategory.id or category in subcategory.get_descendants%}class="selected"
                    {% endif %}>
                    <a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a>
                </li>
                {% if category and category.id == subcategory.id or category in subcategory.get_descendants %}
                <ul>
                    {% for s in subcategory.subcategories.all%}
                    <li {% if category and category.id == s.id %}class="selected" {% endif %}>
                        <a href="{{ s.get_absolute_url }}">{{ s.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif%}
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>


<div id="main" class="product-list">
    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
    {% for product in products %}
    <div class="item">
        <a href="{{ product.get_absolute_url }}">
            <img
                src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
        </a>
        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
        {{ product.price }} zł
    </div>
    {% endfor %}
</div>

{% endblock %}